.navbar-brand {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-brand img {
    width: 35px;
}

.navbar-brand span {
    font-weight: 700;
    font-size: 25px;
    color: #101828;
}

.list-unstyled ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
}

.list-unstyled ul li {
    display: flex;
    /* align-items: center; */
    gap: 0.5em;
}

.list-inline li {
    border-radius: 5px;
    overflow: hidden;
}

.list-inline-item {
    margin-bottom: 10px;
}

.list-inline-item img {
    cursor: pointer;
}

.jHUNTFTY p {
    color: red;
    /* position: absolute; */
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.ndhdnImf {
    justify-content: space-between;
}

.ndhdnImf img {
    width: 100%;
    cursor: pointer;
}

.fnjHN {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fnjHN span {
    color: red;
    font-weight: bold;
    margin-left: 20px;
}

.djjIm {
    width: 100%;
}

.ndhGH {
    border: 1px solid red;
    max-width: 500px;
}

@media screen and (max-width: 600px) {
    .list-unstyled ul.firNhnm {
        padding-left: 25px;
    }
}